<div id="node-tab-pop">
    <div id="node-tab-layer">

    </div>
    <div id="node-tab-content">
        <div id="node-tab-header">
            <div>开始节点</div>
            <div><img src="../contents/images/close_layer.png" id="close-layer-icon" /></div>
        </div>
        <div id="node-tab-tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#node-tab-normal" role="tab" data-toggle="tab">常规</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="node-tab-normal">
                    <div class="form-inline tab-content-container">
                        <div class="form-group form-group-custom">
                            <label for="tab-details-nodeName" requiredlabel>节点名称</label>
                            <input type="text" class="form-control" id="tab-details-nodeName" required placeholder="节点名称">
                        </div>
                        <div class="form-group form-group-custom">
                            <label>判断条件</label>
                            <button class="btn btn-default" id="tab-details-addApprovalButton">添加</button>
                        </div>
                        <div id="tab-details-approvalButtons">

                        </div>
                    </div>
                    <div class="tab-content-opration">
                        <button type="button" class="btn btn-default" id="tab1Save">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function LoadCompleted() { }
        $(function () {
           
        });
    </script>
</div>