<div class="wfdesigner-pop">
    <div class="wfdesigner-pop-layer">

    </div>
    <div class="wfdesigner-pop-container">
        <div class="wfdesigner-pop-header">
            <div class="wfdesigner-pop-header-title">{{Title}}</div>
            <div><img src="../contents/images/close_layer.png" id="close-layer-icon" /></div>
        </div>
        <div class="wfdesigner-pop-content">
            
        </div>
    </div>
    <script type="text/javascript">
        function LoadCompleted() { };
        $(function () {

        });
    </script>
</div>